body {
    background-color:  rgb(255, 255, 255);
    margin: 0px;
    height: 100%;
}

div{
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}
/* 44 +15 */
#container-navbar{
    background-color: rgb(255, 255, 255);
    height: 31px;
    margin: 15px 15px 15px 0px;
    display: flex;
    justify-content: flex-end;
}
/* 95 + 100 */
#container-doodle{
    background-color: rgb(255, 255, 255);
    height: 95px;
    margin: 100px 100px 1px 100px;
    display: flex;
    justify-content: center;
}
/* 44 + 1 +30 */
#container-bar{
    background-color: rgb(10, 43, 13);
    height: 44px;
    margin-top: 31px;
    border: 1px;
}

/* 35+30 */
#container-forms{
    background-color: rgb(29, 129, 37);
    height: 35px;
    margin-top: 31px;
}



/* 81 + 1 */
/* 41 + 40 */
#container-footer{
    background-color: rgb(34, 3, 30);
    height: 81px;
    align-items: flex-end;
    border-top: 1px;
    margin-top: 163px;
}
#footer-country{
    background-color: rgb(147, 238, 73);
    height: 41px;
}

#footer-options{
    background-color: rgb(148, 93, 21);
    height: 40px;
}

.button1{
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
    margin:  0px 15px 0px 15;
}

.button3{
    background-color: rgb(66, 133, 244);
    border: none;
    color: rgb(255, 255, 255);
    height: 30px;
    box-sizing: inherit;
    width: 55px;
    font-weight: bold;
    margin: 0px 15px 0px 8px;
    border-radius: 2px;
    padding: 0 12px;

}

#apps{
    margin: 3px 5px 0px 5px;
}

