body {
    background-color:  rgb(255, 255, 255);
    margin: 0px;
    height: 100%;
}

div{
    color: rgb(255, 255, 255);
    margin: 0px;
    padding: 0px;
}
/* 44 +15 */
#container-navbar{
    background-color: rgb(255, 255, 255);
    height: 31px;
    margin: 15px 15px 15px 0px;
    display: flex;
    justify-content: flex-end;
}

#container-doodle{
    background-color: rgb(255, 255, 255);
    height: 95px;
    margin: 100px 100px 1px 100px;
    display: flex;
    justify-content: center;
}

#container-bar{
    background-color: rgb(255, 255, 255);
    height: 44px;
    margin-top: 31px;
    border: 1px;
    display: flex;
    justify-content: center;
}

#bar{
    height: 44px;
    width: 560px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    display: flex;
    align-items: center;
}
.button1{
    background-color: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
    margin:  0px 15px 0px 15;
}

.button2{
    background-color: rgb(66, 133, 244);
    border: none;
    color: rgb(255, 255, 255);
    height: 30px;
    box-sizing: inherit;
    width: 55px;
    font-weight: bold;
    margin: 0px 15px 0px 8px;
    border-radius: 2px;
    padding: 0 12px;
}

#apps{
    margin: 3px 5px 0px 5px;
}
#search-icon{
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 20px;
    margin-left: 12px;
}

#input-bar{
    background-color: rgb(255, 255, 255);
    border: none;
    width: 480px;
    height: 20px;
    border-color: rgb(255, 255, 255);
    outline: none;
}

#container-forms{
    background-color: rgb(255, 255, 255);
    height: 35px;
    margin-top: 31px;
    display: flex;
    justify-content: center;
}
#container-search-buttons{
    width: 320px;
    height: 35px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
}

.button3{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

#container-footer{
    background-color: #f2f2f2;
    height: 40px;
    border-top: 1px;
    margin-top: 204px;
    display: flex;
    justify-content: space-between;
    color: #5f6368;
}

#footer-left{
    background-color: #f2f2f2;
    height: 40px;
}

#footer-right{
    background-color: #f2f2f2;
    height: 40px;
}